.experience-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 5rem 0;
  padding: 0;
}

.experience-sections {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.experience-section {
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem ;
    padding: 1rem 0rem;
    border: 1px solid #e0e0e0;
    border-radius: 3rem;
    overflow: hidden;
    transition: 0.3s ease;
}

.experience-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 4px #000;
}


@media screen and (min-width: 800px) { 
    .experience-section {
        width: 30rem;
    }
}


.experience-section img {
    width: 10rem;
    height: 3rem;
    object-fit: contain;
    object-position: center;
    padding: 1rem;
}

.experience-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    padding: 0;
    text-align: center;
}

.experience-section h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    padding: 0;
    text-align: center;
}

.experience-section p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
    padding: 0;
    text-align: center;
}

